.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-bottom:15px;
  }
  
  .logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
  }
  
  .header-center {
    flex: 1; /* Takes up remaining space */
    text-align: center;
  }
  
  .store-name {
    margin: 0;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  